In [1]:
! pip3 install pandas

import pandas as pd
import numpy as np
from pathlib import Path

Requirement already satisfied: pandas in c:\users\conno\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\conno\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\conno\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\conno\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\conno\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\conno\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [8]:
records = pd.read_csv(Path('2024-records.csv'), delimiter='\t', header=None, names=['Rank', 'Previous', 'School', 'Conference Record', 'Road', 'Neutral', 'Home', 'Non Div 1'])
records

,Rank,Previous,School,Conference Record,Road,Neutral,Home,Non Div 1
1,1,Tennessee,SEC,60-13,9-6,11-3,40-4,0-0
2,2,Texas A&M,SEC,53-15,9-8,7-4,37-3,0-0
3,3,Kentucky,SEC,46-16,16-5,4-5,26-6,0-0
4,4,North Carolina,ACC,48-16,9-8,2-5,37-3,0-0
5,8,Florida St.,ACC,49-17,8-10,9-3,32-4,0-0
...,...,...,...,...,...,...,...,...
301,301,Norfolk St.,NEC,12-41,5-15,0-0,7-26,0-0
302,302,Mississippi Val.,SWAC,7-32,5-20,0-0,2-12,5-2
303,303,Alcorn,SWAC,6-42,3-27,0-3,3-12,0-1
304,304,UMES,NEC,0-48,0-34,0-0,0-14,0-0
305,305,Ark.-Pine Bluff,SWAC,9-34,3-14,0-1,6-19,6-0